.container {
    height: 100%;
    width: 100%;
    bottom: 20%;
    .typing-text {
        position: relative;
        top: 90%;
        margin: 0 1rem;
    }
}

.typing-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
  }

  