.canvas {
    height: 90%;
    width: 90%;
    position: relative; /* Make sure the loader can be absolutely positioned relative to it */
}
$size: 2rem;

.slide-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 1rem;
    z-index: 10; /* ensure it's above the canvas */
    &.open {
        transform: translateX(0);
    }
  }

  .main-title {
    width: 70%;
    position: absolute;
    top: 20%;
    font-size: 3rem;
    text-align: center;
  }
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.cloud {
  height: 15rem;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100% / 30% 60%, var(--g) 70% 0 / 50% 100%, var(--g) 0 100% / 36% 68%, var(--g) 27% 18% / 26% 40%, linear-gradient(#000 0 0) bottom / 67% 58% no-repeat;
  background: #9ab3c9a3;
  position: absolute;
  z-index: 1;
  top: 10%;
}
  .welcome-text {
    pointer-events: none;
    position: absolute;
    top: 25%;
    z-index: 2;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 3.2rem;
    background: linear-gradient(
      -40deg, 
      #327f85 25%, 
      #000000 25%, 
      #000000 50%, 
      #327f85 50%, 
      #327f85 75%, 
      #000000 75%, 
      #000000);
    -webkit-background-clip: text;
    font-family: 'Bungee Shade', cursive;
    -webkit-text-fill-color: transparent;
    background-size: $size $size;
    background-position: 0 0;
    animation: stripes 3s linear infinite;
  }
  @keyframes stripes {
    100% { 
      background-position: $size 0, $size 0, $size 0;
    }
  }