.canvas {
    height: 90%;
    width: 90%;
    position: relative; /* Make sure the loader can be absolutely positioned relative to it */
}
$size: 2rem;

.slide-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 1rem;
    z-index: 10; /* ensure it's above the canvas */
    &.open {
        transform: translateX(0);
    }
  }

  .main-title {
    width: 70%;
    position: absolute;
    top: 20%;
    font-size: 3rem;
    text-align: center;
  }
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.cloud {
  --d: 2rem;
  height: 8rem;
  padding: 10px;
  aspect-ratio: 4;
  box-sizing: border-box;
  border: solid #0000;
  border-width: 0 var(--d) var(--d) 0;
  clip-path: polygon(0 0, calc(100% - var(--d)) 0, 100% var(--d), 100% 100%, var(--d) 100%, 0 calc(100% - var(--d)));
  background: conic-gradient(at calc(100% - var(--d)) calc(100% - var(--d)), #0004 37.5%, #0008 0 75%, #0000 0) border-box #9CC4E4;
  position: absolute;
    z-index: 1;
    top: 20%;
}
  .welcome-text {
    pointer-events: none;
    position: absolute;
    top: 22%;
    left: calc(0% - 1rem);
    z-index: 2;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(
      -40deg, 
      #327f85 25%, 
      #000000 25%, 
      #000000 50%, 
      #327f85 50%, 
      #327f85 75%, 
      #000000 75%, 
      #000000);
    -webkit-background-clip: text;
    font-family: 'Bungee Shade', cursive;
    -webkit-text-fill-color: transparent;
    background-size: $size $size;
    background-position: 0 0;
    animation: stripes 3s linear infinite;
  }
  @keyframes stripes {
    100% { 
      background-position: $size 0, $size 0, $size 0;
    }
  }