body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  height: 100vh;
  width: 100vw;

}
.main-container {
  width: 100vw;
  height: 100vh;

}
.light {
  background-color: #ffffff;
  color: #000
}
.dark {
  color: #ffffff;
  background-color: #000
}
.text_big {
  font-size: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lunasima:wght@400;700&family=Noto+Sans+Hebrew:wght@100..900&family=Quicksand:wght@300..700&display=swap');
* {
  font-family: "Amatic SC", sans-serif;
}
.text_extra_big {
  font-size: 2rem;
}
.text_bold {
  font-weight: 900;
}
.text_title_med {
  font-size: 1.5rem;
}

.text_title_big {
  font-size: 2.5rem;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
}
  
.wave-letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: waveAppear 0.6s ease-in-out forwards;
}
.limit_reached {
  padding: 1rem;
  animation: wiggle 2s linear;
}
.stop-sign-wrapper {
  top: -10rem;
  scale: 0.5;
  position: relative;
  left: -50px;
  animation: wiggle 2s linear;
  .hexagon {
    float:left;
    background-color: white;
    shape-outside: polygon(0 50px, 50px 0, 100px 0, 150px 50px, 150px 100px, 100px 150px, 50px 150px, 0 100px);
    width: 300px;
    height: 600px;
    
     -webkit-clip-path: polygon(0 50px, 50px 0, 100px 0, 150px 50px, 150px 100px, 100px 150px, 50px 150px, 0 100px);
    width: 300px;
    height: 600px;
  }
  
  .hexagon2 {  position: relative;
    background-color: red;
    shape-outside: polygon(10px 50px, 50px 10px, 100px 10px, 140px 50px, 140px 150px, 100px 140px, 50px 150px, 10px 100px);
    width: 300px;
    height: 600px;
    
     -webkit-clip-path: polygon(10px 50px, 50px 10px, 100px 10px, 140px 50px, 140px 100px, 100px 140px, 50px 140px, 10px 100px);
    width: 300px;
    height: 600px;
  }
  
  .text {
    position: relative;
    font-family: arial;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1px;
    color: white;
    left: 17.5px;
    top:100px;
    z-index: 1;
  }
  
  .wrapper {
    float:left;
    margin-left:40%;
  }
}

.dialog-container {
  padding: 1rem;
  width: 400px;
  height: fit-content;
  border-radius: 2rem;
  overflow: scroll;
  .dialog-header {
    top: 0;
    position: sticky;
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: 0rem 0rem 1rem 0rem;
    &.light {
      background-color: #ffffff;
      color: #000
    }
    &.dark {
      color: #ffffff;
      background-color: #000
    }
    .name-container {
      display: flex;
      flex-direction: column;
    }
    .items-filter {
      display: flex;
      margin: 0.5rem 0rem 1rem 0rem;
      .item-box {
        height: 2rem;
        width: 6rem;
        margin: 0rem 0.6rem 0rem 0rem;
        cursor: pointer;
        border: 1px solid black;
        background-color: gray;
        padding-bottom: 10px;
        transition: 0.1s ease-in-out;
        user-select: none;
        .item {
          background-color: #dddddd;
          border: 4px solid #fff;
          padding: 3px 8px;
          &.light {
            background-color: #ffffff;
            color: #000
          }
          &.dark {
            color: #ffffff;
            background-color: #000
          }
          span {

          }
        }
        z-index: 2222;
      &:active{
        padding: 0.2rem 0rem;
        margin-bottom: 2px;
        transform: translateX(2px);
      
      }
      }
    }
  }

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

  .dialog-body {
   height: 80%;
   overflow: scroll;
   .self-drawing {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    img {
      width: 40%;
      height: 100%;
      border-radius: 100%;
    }
   }
  }
  .dialog-footer {
    bottom: 0;
    position: sticky;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      width: 20%;
      height: 50%;
      &:hover {
        cursor: pointer;
      }
    }
    
  }
}
@keyframes waveAppear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}